In [51]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [36]:
# reading the csv file and import the data
df = pd.read_csv('Resources/lending_data.csv')
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [107]:
# Import the data

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [49]:
X = df.drop('loan_status', axis=1)
y = df['loan_status']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [50]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
29175,8600.0,6.792,44500,0.325843,3,0,14500
23020,7800.0,6.419,41000,0.268293,2,0,11000
31269,10000.0,7.386,50100,0.401198,4,1,20100
35479,9300.0,7.093,47300,0.365751,3,0,17300
13470,9200.0,7.045,46900,0.360341,3,0,16900

In [111]:
# Split the data into X_train, X_test, y_train, y_test

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
32815,8200.0,6.598,42700,0.297424,2,0,12700
59572,10500.0,7.591,52000,0.423077,4,1,22000
42325,7600.0,6.351,40400,0.257426,2,0,10400
39070,9700.0,7.254,48900,0.386503,4,0,18900
42524,11800.0,8.155,57300,0.476440,6,1,27300

In [39]:
model = LogisticRegression()
model

LogisticRegression()

In [40]:
model.fit(X_train, y_train)

LogisticRegression()

In [41]:
print(f"Training Data Score logistic regression: {model.score(X_train, y_train)}")
print(f"Testing Data Score logistic regression: {model.score(X_test, y_test)}")

Training Data Score: 0.9921240885954051
Testing Data Score: 0.9918489475856377

In [109]:
# Train a Logistic Regression model print the model score

0.9908171687990095

In [52]:
clf = RandomForestClassifier(random_state=42, n_estimators=500)

In [54]:
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=42)

In [55]:
print(f"Training Data Score random forests classifier: {clf.score(X_train, y_train)}")
print(f"Testing Data Score random forests classifier: {clf.score(X_test, y_test)}")

Training Data Score random forests classifier: 0.9975409272252029
Testing Data Score random forests classifier: 0.991642591828312

In [110]:
# Train a Random Forest Classifier model and print the model score

0.9910751134956666